/* Add your styles here 

html {
  --aura-background-color-light: #ffffff;
  --aura-font-family: Verdana;
  --aura-base-font-size: 12;
  --aura-base-radius: 5;
}

vaadin-button {
  --aura-accent-color: #454545;
}

 
 
vaadin-grid-background {
	background-color: #ffffff;
} */